---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import InmariLogo from "../components/InmariLogo.astro";
---

<Layout title="Fumo Gang">
  <Header />
  <main class="flex justify-center items-center py-8 flex-col bg-white">
    <InmariLogo class="size-60" />
  </main>
</Layout>
